@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');

body {
    background-color: #000000;
    background-image: url("https://www.transparenttextures.com/patterns/retina-wood.png");
    color: #8E8E8E;
    text-align: justify;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 14pt;
}

.wrapper {
    width: 80%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: #3C3C3C;
    padding: 50px;
    padding-top: 150px;
    border: 10px solid #686868;
}

footer {
    width: 80%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: #3C3C3C;
    padding: 50px;
    text-align: center;
    border: 10px solid #686868;
}

nav {
    position: fixed;
    width: 100%;
    height: 100px;
    margin-top: 20px;
    background-color: #000000;
    background-image: url("https://www.transparenttextures.com/patterns/retina-wood.png");
    border-top: 10px solid #686868;
    border-bottom: 10px solid #686868;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    opacity: 0.2;
    transition: 1s ease-in-out;
    z-index: 1;
}

nav:hover {
    opacity: 1;
}

.nav {
    font-size: 24pt;
    text-decoration: none;
    display: inline;
    padding: 10px;
    background-color: #000000;
    color: #ffffff !important;
    margin: 10px;
    transition: 1s ease-in-out;
}

.nav:hover {
    color: #DA6000 !important;
}

.col {
    text-align: center;
    padding-right: 25px;
    padding-left: 25px;
}

.row {
    padding-top: 25px;
    padding-bottom: 25px;
}

strong {
    color: #00DAD6;
}

em {
    color: #DA0098;
}

u {
    color: #74DA00;
}

del {
    color: #DA6000;
}

h1 {
    font-size: 24pt;
    width: 100%;
    padding: 10px;
    border-top: 5px solid #686868;
    border-bottom: 5px solid #686868;
    margin-bottom: 100px;
}

h2 {
    font-size: 24pt;
    text-align: right;
    width: 100%;
    padding: 10px;
    border-top: 5px solid #686868;
    border-bottom: 5px solid #686868;
    margin-bottom: 100px;
}

a:link, a:active, a:visited {
    color: #DA0098;
    text-decoration: none;
    transition: 1s ease-in-out;
    cursor: default;
}

a:hover {
    color: #74DA00;
    cursor: default;
}

textarea {
    width: 1330px;
    height: 300px;
    background-color: #000000;
    color: #ffffff;
    border: 1px solid #686868;
}

input {
    width: 1330px;
    background-color: #000000;
    color: #ffffff;
    border: 1px solid #686868;
}

button {
    background-color: #000000;
    color: #ffffff;
    padding: 10px;
    border: none;
}

.biopic {
    border: 5px solid #686868;
}

.projects {
    width: 100%;
    height: 200px;
    border: 5px solid #686868;
}

.important {
    background-color: #000000;
    color: #ffffff !important;
    font-size: 16pt;
    padding: 10px;
    margin: 10px;
}

.important:hover {
    color: #DA0098 !important;
    transition: 1s ease-in-out;
}

form {
    border: 2px solid #686868;
    padding: 30px;
}